body{
    background-color: brown;
    background-image:url(fondsalle.jpg);
}

#spec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}
#spec1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}
.p{
    color:white;
    background-color:black;
}