body{
    background-color: brown;
    background-image:url(fondsalle.jpg);
    
}

.p{
    color:white;
    background-color:black;
}
#formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

#bt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}