body{
    background-color: brown;
    background-image:url(fondsalle.jpg);
}

p{
    color: white   ;
    
}

#cadre_general {
    display: flex;
    justify-content:center;
    align-items:center;
    padding-top: 250px;
    justify-content:space-around;
 }

 #spec {
    display: flex;
    flex-direction:row;
    background-color: brown;
   
}

#spec1 {
    display: flex;
    flex-direction:row;
   
}

.a{

    width: 5px;
    height: 5px;
}

